name: Compile Python
on: [push]

jobs:
  pyinstaller-build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller==6.3.0

      - name: Install project dependencies (pyproject)
        run: |
          pip install .

      - name: Build with PyInstaller
        run: |
          pyinstaller sp.spec --name sp --windowed
